<?xml version="1.0" encoding="UTF-8"?>
       <widget xmlns="http://www.w3.org/ns/widgets"  xmlns:gap="http://phonegap.com/ns/1.0"  version="1.0.1" id="Alinneapp">
	<name>CLOTHING STYLE</name>
	<descripion>
	VARIEDADES DE ROUPAS DISPONIVEIS E DE BOA QUALIDADE!!
                  </description>
	<author>
                Alinne Ramiro de Moura da Silva
                   </author>
	<icon src="LOGOMARCA. jpg"/>
 	<gap:splash src="carregamento.jpg"/>
</widght>
